In [30]:
import pandas as pd

In [5]:
# Escribir un programa que pregunte al usuario por las ventas de un rango de años y 
# muestre por pantalla una serie con los datos de las ventas indexada por los años, 
# antes y después de aplicarles un descuento del 10%.


# Pedir al usuario que ingrese los datos de ventas para cada año
año_inicial = int(input("Ingrese el año inicial: ")) # ingreso año inicial
año_final = int(input("Ingrese el año final: "))     # ingreso año final
años = list(range(año_inicial, año_final + 1))       # ingluir todos los años en el rango ingresado y convertirlo en una lista
ventas = []
for año in años:  # pedir al usuario que ingrese las ventas de cada año
    ventas.append(float(input(f"Ingrese las ventas para el año {año}: ")))

# Crear una serie con los datos de ventas y aplicar el descuento del 10%
serie_ventas = pd.Series(ventas, index = años)
descuento_ventas = serie_ventas * 0.9

# Imprimir la Serie original y la Serie con descuento
print("Ventas originales:")
print(serie_ventas)
print("Ventas con descuento del 10%:")
print(descuento_ventas)

Ventas originales:
2020    5000.0
2021    6500.0
2022    7000.0
2023    7200.0
dtype: float64
Ventas con descuento del 10%:
2020    4500.0
2021    5850.0
2022    6300.0
2023    6480.0
dtype: float64

In [38]:
# Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen 
# y devuelva una serie con la nota mínima, la máxima, media y la desviación típica

# crear un diccionario con las notas
notas = {'Alex': 6.5, 'Pedro': 5.2, 'María': 3.8, 'Ana': 4.5, 'Luis': 5.4}

def estadisticas_notas(notas):
    # Convertir el diccionario en un objeto Series
    notas_serie = pd.Series(notas)
    
    # Calcular la nota mínima, máxima, media y desviación típica
    nota_minima = notas_serie.min()
    nota_maxima = notas_serie.max()
    nota_media = notas_serie.mean()
    nota_desviacion = notas_serie.std()
    
    # Crear una nueva Serie con las estadísticas de las notas con un indice (etiqueta) para entender la salida
    serie_estadisticas = pd.Series([nota_minima, nota_maxima, nota_media, nota_desviacion], 
        index=['Nota mínima', 'Nota máxima', 'Nota media', 'Desviación típica'])
    
    return serie_estadisticas


estadisticas = estadisticas_notas(notas)
print(estadisticas)

Nota mínima          3.80000
Nota máxima          6.50000
Nota media           5.08000
Desviación típica    1.01341
dtype: float64

In [35]:
# Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen 
# y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor


def notas_aprobados(notas):
    # Convertir el diccionario en un objeto Series
    notas_serie = pd.Series(notas)
    
    # Filtrar los elementos con nota mayor o igual a 4
    notas_aprobados = notas_serie[notas_serie >= 4]
    
    # Ordenar los elementos filtrados en orden descendente
    notas_aprobados_ordenadas = notas_aprobados.sort_values(ascending=False)
    
    return notas_aprobados_ordenadas

notas_aprobados_ordenadas = notas_aprobados(notas)
# mostrar las notas aprobadas
notas_aprobados_ordenadas

Alex     6.5
Luis     5.4
Pedro    5.2
Ana      4.5
dtype: float64

In [36]:
# Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla

# crear un diccionario con los datos
datos = {
    "Mes": ["Enero", "Febrero", "Marzo", "Abril"] , 
    "Ventas": [30500, 35600, 28300, 33900], 
    "Gastos": [22000, 23400, 18100, 20700]
    }

# crear un DataFrame a partir del diccionario
datos_df = pd.DataFrame(datos)

# mostrar la tabla von los datos
datos_df

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700